# ===================== DO CONFIG VARS =======================
do_token = "dop_v1..."

# ============================== DOKS CONFIG ==============================

doks_cluster_name_prefix = "k8s-bootstrapper"
doks_k8s_version         = "1.29"
doks_cluster_region      = "ams3"

# Main pool configuration (REQUIRED)

doks_default_node_pool = {
  name       = "bootstrapper-main"
  node_count = 3
  size       = "s-2vcpu-4gb"
  auto_scale = true
  min_nodes  = 3
  max_nodes  = 5  
}

# Create additional DOKS node pools 
# Dedicated node pools are useful to spread the load 
# Created by each component, such as: observer (OPTIONAL)

doks_additional_node_pools = {
  "bootstrapper-observer" = {
    node_count = 1
    size       = "s-2vcpu-4gb"
  }
}

# ======================= DIGITALOCEAN CONTAINER REGISTRY (DOCR) =========================
# Set the flag to 'true' to enable DOCR
enable_container_registry        = false

# ================================== ARGOCD CONFIG ==================================

# ArgoCD Helm release is disabled for now because it is not working properly in Terraform
enable_argocd_helm_release        = true
argocd_helm_repo                  = "https://argoproj.github.io/argo-helm"
argocd_helm_chart                 = "argo-cd"
argocd_helm_chart_version         = "6.5.0"
argocd_helm_release_name          = "argocd"
argocd_helm_chart_timeout_seconds = 600
argocd_k8s_namespace              = "argocd"

argocd_additional_helm_values_file = "../manifests/argocd-ha-helm-values.yaml"
